* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: hsl(0, 0%, 95%);
    Font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

}



.main {
    /* width: 20%; */
    min-width: 10rem;
    max-width: 15rem;
  
    background-color: hsl(31, 77%, 52%);
    display: flex;
 
    flex-direction: column;
 
    padding: 50px;
    /* font-size: 15px; */


}
.main1 {

  
    background-color: hsl(31, 77%, 52%);


}

.main2 {
    /* width: 20%; */
   
    background-color: hsl(184, 100%, 22%);
    /* display: flex;
    flex-direction: column;
    padding: 50px; */
}

.main3 {
    /* width: 20%; */
  
    background-color: hsl(179, 100%, 13%);
    /* display: flex;
    flex-direction: column;
    padding: 50px; */

}

h1 {
    color: hsl(0, 0%, 95%);
    padding-top: 20px;
}

button {
    background-color: hsl(0, 0%, 95%);
    padding: 10px;
    border-radius: 20px;
    margin-top: 70px;
    width: 120px;
    border: none;
    color:  hsl(184, 100%, 22%);
  

}

p {
    /* color: hsla(0, 0%, 100%, 0.75); */
    padding-top: 20px;
    color: none;
  

}
.para3{
    
    color:  hsl(184, 100%, 22%);
}
.para2{
    color: hsla(0, 0%, 100%, 0.75);
}
.para1{
    color:hsla(0, 0%, 100%, 0.75) ;
    
}




@media screen and (max-width:700px){
    .container{
        flex-direction: column;
    
    }
    .main{
        padding: 0;
    }
    
} 

@media screen and (max-width:500px){
    .main{
        max-width: 100%;
    }
    .container{
        width: 100%;
    }
}